<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Active week</name>
    <description>Aplicativo do projeto integrador 4</description>
    <author email="kevindesouza181818@gmail.com" href="https://cordova.apache.org">
        Grupo 14 do Projeto integrador
    </author>
    <content src="index.html" />
    
    <!-- Configuração de plataforma Android -->
    <platform name="android">
        <icon src="www/img/logo.png"/>
    </platform>

    <!-- Permissões e intenções -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
